doctype html
html(lang="en")
  head
    title New Tab
    link(rel="stylesheet" href="newTab.css" type="text/css")

  body
    .columns
      .column
        .clock
          .image
          .timezone.text-outline
          .time
            span.time-hm
          .time-sa
          .date

      .column 
        .clock
          .image
          .timezone.text-outline
          .time
            span.time-hm
          .time-sa
          .date
          

    script(src="newTab.js")
